   {% extends 'index-2.html' %}
   {% load static %}
{% load mathfilters %}
   {% block content %}
<!-- Header Start -->

 <!-- Slider Start -->
    <div class="section">

        <div class="swiper-container slider-active">
            <div class="swiper-wrapper">
                {% for item in hero %}
                <!-- Single Slider Start -->
                <div class="single-slider swiper-slide animation-style-01 img-fluid" style="background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url({{ item.img.url }});">
                    <div class="container">
                        <!-- Slider Content Start -->
                        <div class="slider-content">
                            <h2 class="main-title text-white">{{ item.title }}</h2>
                            <p class="text-white">{{ item.context }}</p>
                            <a href="{% url 'model_view' item.sofa.slug %}" class="btn btn-primary btn-hover-dark">Детальніше</a>
                        </div>
                        <!-- Slider Content End -->
                    </div>
                </div>
                <!-- Single Slider End -->
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination d-none"></div>

            <!-- Add Arrows -->
        </div>
    </div>
    <!-- Slider End -->

    <!-- Banner Start -->
    <div class="section section-padding-02">
        <div class="container">
            <div class="nav justify-content-center">
{#                    <li class="nav-item"><a class="active" data-bs-toggle="tab" href="#tab1"></a></li>#}
                    <h3><a class="nav-item"><font color="black"> Вітрини</font></a></h3>
{#                    <li class="nav-item"><a data-bs-toggle="tab" href="#tab3"></a></li>#}
                </div>
            <!-- Banner Wrapper Start -->
            <div class="banner-wrapper mt-n6">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Banner Box Start -->
                        <div class="banner-box">
                            <a href="shop-grid-left-sidebar.html">
                                <img src="{% static 'assets/images/banner/banner-09.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Banner Box End -->
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Banner Box Start -->
                                <div class="banner-box">
                                    <a href="shop-grid-left-sidebar.html">
                                        <img src="{% static 'assets/images/banner/banner-10.jpg' %}" alt="">
                                    </a>
                                </div>
                                <!-- Banner Box End -->
                            </div>
                            <div class="col-sm-6">
                                <!-- Banner Box Start -->
                                <div class="banner-box">
                                    <a href="shop-grid-left-sidebar.html">
                                        <img src="{% static 'assets/images/banner/banner-11.jpg' %}" alt="">
                                    </a>
                                </div>
                                <!-- Banner Box End -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Banner Box Start -->
                        <div class="banner-box">
                            <a href="shop-grid-left-sidebar.html">
                                <img src="{% static 'assets/images/banner/banner-12.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Banner Box End -->
                    </div>
                    <div class="col-md-6">
                        <!-- Banner Box Start -->
                        <div class="banner-box">
                            <a href="shop-grid-left-sidebar.html">
                                <img src="{% static 'assets/images/banner/banner-13.jpg' %}" alt="">
                            </a>
                        </div>
                        <!-- Banner Box End -->
                    </div>
                </div>
            </div>
            <!-- Banner Wrapper End -->
        </div>
    </div>
    <!-- Banner End -->

    <!-- Best Seller Start -->
    <div class="section section-padding-02 mt-n3">
        <div class="container">
            <!-- Product Tabs Start -->
            <div class="product-tabs">
                <div class="nav justify-content-center">
{#                    <li class="nav-item"><a class="active" data-bs-toggle="tab" href="#tab1"></a></li>#}
                    <h3><a class="nav-item"><font color="black"> Каталог</font></a></h3>
{#                    <li class="nav-item"><a data-bs-toggle="tab" href="#tab3"></a></li>#}
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1">
                        <!-- Product Wrapper Start -->
                        <div class="product-wrapper product-active">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for item in sofa_models %}
                                        {% if forloop.counter|mod:2 != 0 %}
                                            <div class="swiper-slide">
                                        {% endif %}
                                        <!-- Product Item Start -->
                                        <div class="product-item">
                                            <div class="image-block">
                                                <a href="{% url 'cart_view' %}?category={{ item.name }}">
                                                    <img src="{{ item.img.url }}" alt="">
                                                    <img class="image-hover" src="{{ item.img.url }}" alt="">
                                                </a>
{#                                                <div class="product-label">#}
{#                                                    <span class="new">{{ forloop.counter }}</span>#}
{#                                                </div>#}
{#                                                <div class="product-action">#}
{#                                                    <a class="action-btn add-cart" href="#"><i class="icon-shopping-bag2"></i></a>#}
{#                                                    <a class="action-btn wishlist " href="#"><i class="icon-heart"></i></a>#}
{#                                                    <a class="action-btn compare" href="#"><i class="icon-sliders"></i></a>#}
{#                                                    <a class="action-btn quick-view" href="#" data-bs-toggle="modal" data-bs-target="#quickView"><i class="icon-search"></i></a>#}
{#                                                </div>#}
                                            </div>
                                            <div class="product-desc">
                                                <div class="product-features-reviews">
{#                                                    <a href="#" class="features">Studio Design</a>#}

{#                                                    <div class="review-star">#}
{#                                                        <div class="star" style="width: 80%;"></div>#}
{#                                                    </div>#}
                                                </div>
                                                <h4 class="product-name"><a href="shop-single.html">{{ item.name }}</a></h4>
{#                                                <div class="product-price">#}
{#                                                    <span class="sale-price">$19.12</span>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                        <!-- Product Item End -->
                                            {% if forloop.counter0|mod:2 != 0 %}
                                                </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <!-- Product Wrapper End -->
                    </div>
                </div>
            </div>
            <!-- Product Tabs End -->
        </div>
    </div>
    <!-- Best Seller End -->

    <!-- Banner Start -->
    <div class="section mt-n9">
        <div class="container-fluid custom-container">
            <!-- Banner Wrapper Start -->
            <div class="banner-wrapper section-margin">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Banner Box Start -->
                        <div class="banner-box">
                            <a href="shop-grid-left-sidebar.html">
                                <img src="assets/images/banner/banner-04.jpg" alt="">
                            </a>
                        </div>
                        <!-- Banner Box End -->
                    </div>
                    <div class="col-lg-6">
                        <!-- Banner Box Start -->
                        <div class="banner-box">
                            <a href="shop-grid-left-sidebar.html">
                                <img src="assets/images/banner/banner-05.jpg" alt="">
                            </a>
                        </div>
                        <!-- Banner Box End -->
                    </div>
                </div>
            </div>
            <!-- Banner Wrapper End -->
        </div>
    </div>
    <!-- Banner End -->

    <!-- Testimonial Start -->
    <div class="section bg-cover section-padding" style="background-image: url({% static 'assets/images/testimonial-bg.jpg' %});">
        <div class="container">
            <div class="testimonial-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-avater">
                                    <img src="assets/images/avater/avater-01.png" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                    <h4 class="name">orando BLoom</h4>
                                    <span class="designation">demo@posthemes.com</span>
                                </div>
                            </div>
                            <!-- Single Testimonial End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-avater">
                                    <img src="assets/images/avater/avater-02.png" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                    <h4 class="name">orando BLoom</h4>
                                    <span class="designation">demo@posthemes.com</span>
                                </div>
                            </div>
                            <!-- Single Testimonial End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Single Testimonial Start -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-avater">
                                    <img src="assets/images/avater/avater-01.png" alt="">
                                </div>
                                <div class="testimonial-content">
                                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                                    <h4 class="name">orando BLoom</h4>
                                    <span class="designation">demo@posthemes.com</span>
                                </div>
                            </div>
                            <!-- Single Testimonial End -->
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Features Start -->
    <div class="section">
        <div class="container">
            <div class="features-section section-padding mt-n6">
                <div class="row">
                    <div class="col-md-4">
                        <!-- Single Features Item Start -->
                        <div class="single-features-item mt-6">
                            <div class="feature-icon">
                                <img src="assets/images/icon/icon1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h3 class="title">Free Shipping Worldwide</h3>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                            </div>
                        </div>
                        <!-- Single Features Item End -->
                    </div>
                    <div class="col-md-4">
                        <!-- Single Features Item Start -->
                        <div class="single-features-item mt-6">
                            <div class="feature-icon">
                                <img src="assets/images/icon/icon2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h3 class="title">Money Back Guarantee</h3>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                            </div>
                        </div>
                        <!-- Single Features Item End -->
                    </div>
                    <div class="col-md-4">
                        <!-- Single Features Item Start -->
                        <div class="single-features-item mt-6">
                            <div class="feature-icon">
                                <img src="assets/images/icon/icon3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h3 class="title">online support 24/7</h3>
                                <p>Mirum est notare quam littera gothica, quam nunc putamus parum</p>
                            </div>
                        </div>
                        <!-- Single Features Item End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

    <!-- Blog Start -->
    <div class="section section-padding mt-n2">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title text-center">
                <h2 class="title">From Our Blog </h2>
                <p>Consequat magna, massa vel suspendisse morbi aliquam faucibus <br> ligula ante ipsum ac nulla.</p>
            </div>
            <!-- Section Title End -->

            <!-- Blog Wrapper Start -->
            <div class="blog-wraper blog-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <!-- Single Blog Item Start -->
                            <div class="single-blog-item">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="assets/images/blog/blog-01.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h4 class="post-title"><a href="blog-details-left-sidebar.html">This is Secound Post For XipBlog</a></h4>
                                    <div class="blog-meta">
                                        <p class="meta-author">Posted by <a href="#">HasThemes</a></p>
                                        <p class="meta-date">Aug 26TH, 2020</p>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...</p>
                                </div>
                            </div>
                            <!-- Single Blog Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Single Blog Item Start -->
                            <div class="single-blog-item">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="assets/images/blog/blog-02.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h4 class="post-title"><a href="blog-details-left-sidebar.html">This is Big sale this summer</a></h4>
                                    <div class="blog-meta">
                                        <p class="meta-author">Posted by <a href="#">HasThemes</a></p>
                                        <p class="meta-date">Aug 26TH, 2020</p>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...</p>
                                </div>
                            </div>
                            <!-- Single Blog Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Single Blog Item Start -->
                            <div class="single-blog-item">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="assets/images/blog/blog-03.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h4 class="post-title"><a href="blog-details-left-sidebar.html">Nicholas K Spring 2020 Runway</a></h4>
                                    <div class="blog-meta">
                                        <p class="meta-author">Posted by <a href="#">HasThemes</a></p>
                                        <p class="meta-date">Aug 26TH, 2020</p>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...</p>
                                </div>
                            </div>
                            <!-- Single Blog Item End -->
                        </div>
                        <div class="swiper-slide">
                            <!-- Single Blog Item Start -->
                            <div class="single-blog-item">
                                <div class="blog-image">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="assets/images/blog/blog-04.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <h4 class="post-title"><a href="blog-details-left-sidebar.html">London Fashion Week 2020</a></h4>
                                    <div class="blog-meta">
                                        <p class="meta-author">Posted by <a href="#">HasThemes</a></p>
                                        <p class="meta-date">Aug 26TH, 2020</p>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when ...</p>
                                </div>
                            </div>
                            <!-- Single Blog Item End -->
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <!-- Blog Wrapper End -->
        </div>
    </div>
    <!-- Blog End -->
   {% endblock %}