{% load mathfilters %}

    <section id="steps" class="steps section-bg">
      <div class="container">

        <div class="row no-gutters">
        {% for item in services %}
            {% if forloop.first %}
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
            {% if forloop.counter < 10 %}
            <span>0{{ forloop.counter }}</span>
            {% else %}
            <span>{{ forloop.counter }}</span>
            {% endif %}
            <h4>{{ item.title }}</h4>
            <p>{{ item.desc }}</p>
          </div>
            {% else %}
            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="{{ forloop.counter|mul:100 }}">
            {% if forloop.counter < 10 %}
            <span>0{{ forloop.counter }}</span>
            {% else %}
            <span>{{ forloop.counter }}</span>
            {% endif %}
            <h4>{{ item.title }}</h4>
            <p>{{ item.desc }}</p>
          </div>
            {% endif %}
        {% endfor %}
        </div>

      </div>
    </section>