{% extends 'index.html' %}
{% block title %}
    <title>Каталог</title>
{% endblock %}

{% block content %}


    <div class="page-banner-section section">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">Каталог</h2>
                <ul class="breadcrumb justify-content-center">
                   <li class="breadcrumb-item"><a href="{% url 'index' %}">Головна</a></li>
    <li class="breadcrumb-item active">Каталог</li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->

    <!-- Shop Section Start -->
    <div class="shop-section section section-padding mt-n10">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">

                    <!-- Shop Top bar Start -->
                    <div class="shop-top-bar">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Shop Top content Start -->
                                <div class="shop-top-content">
                                    <ul class="nav">
                                        <li><button class="active" data-bs-toggle="tab" data-bs-target="#grid"><i class="fas fa-th"></i></button></li>
                                        <li><button data-bs-toggle="tab" data-bs-target="#list"><i class="fas fa-list"></i></button></li>
                                    </ul>
                                    <p class="shop-text">{% if sofas %}
                                                                {% if not cur_color and not cur_type and not cur_category %}Показано {{ sofas|length }} товари
                                                                {% else %}Показано {{ sofas|length }} товари за фільтрами: {% for item in cur_category %}{{ item }}, {% endfor %}
                                                                                                                   {% for item in cur_type %}{{ item }}, {% endfor %}
                                                                                                                    {% for item in cur_color %}{{ item }}, {% endfor %}{% endif %}
                                                            {% endif %}</p>
                                </div>
                                <!-- Shop Top content End -->
                            </div>
                        </div>
                    </div>
                    <!-- Shop Top bar End -->

                    <!-- Tab Content Start -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="grid">
                            <!-- Shop Grid Start -->
                            <div class="shop-grid-items">
                                <div class="row g-0">
                                    {% for item in sofas %}
                                    <div class="col-lg-4 col-sm-6">
                                        <!-- Product Item Start -->
                                        <div class="product-item">
                                            <div class="image-block">
                                                <a href="{% url 'model_view' item.slug %}">
                                                    <img src="{{ item.main_image.url }}" alt="">
                                                    <img class="image-hover" src="{{ item.main_image.url }}" alt="">
                                                </a>
                                            </div>
                                            <div class="product-desc">
                                                <div class="product-features-reviews">
                                                    <a href="{% url 'cart_view' %}?category={{ item.category }}" class="features">{{ item.category }}</a>

                                                </div>
                                                <h4 class="product-name"><a href="{% url 'model_view' item.slug %}">{{ item.title }}</a></h4>

                                            </div>
                                        </div>
                                        <!-- Product Item End -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Shop Grid End -->
                        </div>
                        <div class="tab-pane fade" id="list">
                            <!-- Product Item Start -->
                            <div class="shop-list-items">
                                <!-- Product Item Start -->
                                {% for item in sofas %}
                                <div class="product-item product-list-item">
                                    <div class="image-block">
                                        <a href="{% url 'model_view' item.slug %}">
                                            <img src="{{ item.main_image.url }}" alt="">
                                            <img class="image-hover" src="{{ item.main_image.url }}" alt="">
                                        </a>
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-features-reviews">
                                            <a href="{% url 'cart_view' %}?category={{ item.category }}" class="features">{{ item.category }}</a>
                                        </div>
                                        <h4 class="product-name"><a href="{% url 'model_view' item.slug %}">{{ item.title }}</a></h4>
                                        <div class="desc-text">
                                            <p>{{ item.desc|linebreaks }}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                                {% endfor %}
                            </div>
                            <!-- Product Item End -->
                        </div>
                    </div>
                    <!-- Tab Content End -->

                    <!-- Bottom bar End -->
                    <div class="bottom-bar d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center">

                        <!-- Page Pagination Start -->
                        <div class="page-pagination">
                            <ul class="pagination ">
                                {% if sofas.has_previous %}
                                    <li class="page-item"><a class="page-link" href="{% if cur_category %}{% for item1 in cur_category %}{% if forloop.first %}?{% endif %}category={{ item1 }}&{% endfor %}{% endif %}{% if cur_type %}{% for item1 in cur_type %}{% if forloop.first %}?{% endif %}type={{ item1 }}&{% endfor %}{% endif %}{% if not cur_type and not cur_category %}?{% endif %}page={{ sofas.previous_page_number }}"><i class="icon-chevron-left"></i></a></li>
                                {% endif %}
                            {% for item in sofas.paginator.page_range %}
                                {% if item == sofas.number %}
                                    {% if sofas.has_previous or sofas.has_next %}
                                <li class="page-item"><a class="page-link active">{{ item }}</a></li>
                                        {% endif %}
                                {% else %}
                                <li class="page-item"><a class="page-link" href="{% if cur_category %}{% for item1 in cur_category %}{% if forloop.first %}?{% endif %}category={{ item1 }}&{% endfor %}{% endif %}{% if cur_type %}{% for item1 in cur_type %}{% if forloop.first %}?{% endif %}type={{ item1 }}&{% endfor %}{% endif %}{% if not cur_type and not cur_category %}?{% endif %}page={{ item }}">{{ item }}</a></li>
                                {% endif %}
                            {% endfor %}
                                {% if sofas.has_next %}
                                    <li class="page-item"><a class="page-link" href="{% if cur_category %}{% for item1 in cur_category %}{% if forloop.first %}?{% endif %}category={{ item1 }}&{% endfor %}{% endif %}{% if cur_type %}{% for item1 in cur_type %}{% if forloop.first %}?{% endif %}type={{ item1 }}&{% endfor %}{% endif %}{% if not cur_type and not cur_category %}?{% endif %}page={{ sofas.next_page_number }}"><i class="icon-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Page Pagination End -->
                    </div>
                    <!-- Bottom bar End -->



                </div>
                <div class="col-lg-3">
                    <!-- Sidebar Start -->
                    <div class="sidebar-widget">
                            <!-- Widget Item Start -->

                            <form action="" method="get">
                            <div class="widget-item">
                                <h5 class="widget-title">Категорії</h5>

                                <ul class="widget-color">
                                {% for item in types %}
                                    <li>
                                        <label>
                                            <span class="form-check">
                        <input name="type" class="form-check-input shadow" data-color="#434A54" type="checkbox" value="{{ item.name }}">
                    </span>
                                            <a>{{ item.name }}</a>
                                        </label>
                                    </li>
                                    {% endfor %}


                                </ul><br>
                            <input type="submit" value="Оновити" class="btn btn-lg btn-block btn-primary">
                            </div>
                            <div class="widget-item">
                            <h5 class="widget-title">Види меблів</h5>

                                <ul class="widget-color">
                                    {% for item in categories %}
                                    <li>
                                        <label>
                                            <span class="form-check">
                        <input name="category" class="form-check-input shadow" data-color="#434A54" type="checkbox" value="{{ item.name }}">
                    </span>
                                            <a>{{ item.name }}</a>
                                        </label>
                                    </li>
                                    {% endfor %}
                                </ul><br>
                            <input type="submit" value="Оновити" class="btn btn-lg btn-block btn-primary">
                            </div>
                            </form>



                    </div>
                    <!-- Sidebar End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Section End -->

   {% endblock %}
