{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    {% endblock %}
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">



    <!-- CSS
    ============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plazaicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->


</head>

<body>


    <!-- Header Start -->
    <div class="header-section section d-none d-lg-block">

        <!-- Header top Start -->
        <div class="header-top bg-white header-sticky p-0">
            <div class="container-fluid custom-container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-2">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <h1><a href="{% url 'index' %}"><font color="black">Grace-Furniture</font></a></h1>
                        </div>
                        <!-- Header Logo End -->

                    </div>

                    <div class="col-lg-7 col-xl-6">

                        <!-- Primary Menu Start -->
                        <div class="primary-menu position-static border-0">
                            <nav>
                                <ul>
                                    <li>
                                        <a href={% url 'index' %}>Головна</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart_view' %}">Каталог</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_view' %}">Контакти</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shopwindow' %}">Вітрини</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Primary Menu End -->

                    </div>

                    <div class="col-lg-3 col-xl-4">

                        <!-- Header Action Start -->
                        <div class="header-actions">
                            <div class="dropdown">
                                <a href="{% url 'cart_view' %}" class="header-action-btn" role="button">
                                    <i class="icon-shopping-bag2"></i>
                                </a>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="header-action-btn" role="button" data-bs-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Dropdown Language End -->
                                    <div class="dropdown-language">
                                        <span class="selected"><img src="{% static 'assets/images/flag/01.jpg' %}" alt="">English</span>
                                        <ul class="language-list">
                                            <li><a href="#"><img src="{% static 'assets/images/flag/01.jpg' %}" alt="">English</a></li>
                                            <li><a href="#"><img src="{% static 'assets/images/flag/02.jpg' %}" alt=""> اللغة العربية</a></li>
                                            <li><a href="#"><img src="{% static 'assets/images/flag/03.jpg' %}" alt=""> Spanish</a></li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown Language End -->
                                </div>
                            </div>
                        </div>
                        <!-- Header Action End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header top End -->
    </div>
    <!-- Header End -->


    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">

        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">

                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->

                    </div>
                    <div class="col">

                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="{% url 'index' %}"><font color="black">Grace-Furniture</font></a></h1>
                        </div>
                        <!-- Header Logo End -->

                    </div>
                    <div class="col">

                        <!-- Header Action Start -->
                        <div class="header-actions">
                            <a href="{% url 'cart_view' %}" class="header-action-btn">
                                <i class="icon-shopping-bag2"></i>
                            </a>
                            <div class="dropdown">
                                <a href="#" class="header-action-btn" role="button" data-bs-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Dropdown Language End -->
                                    <div class="dropdown-language">
                                        <span class="selected"><img src="{% static 'assets/images/flag/01.jpg' %}" alt="">English</span>
                                        <ul class="language-list">
                                            <li><a href="#"><img src="{% static 'assets/images/flag/01.jpg' %}" alt="">English</a></li>
                                            <li><a href="#"><img src="{% static 'assets/images/flag/02.jpg' %}" alt=""> اللغة العربية</a></li>
                                            <li><a href="#"><img src="{% static 'assets/images/flag/03.jpg' %}" alt=""> Spanish</a></li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown Language End -->

                                </div>
                            </div>
                        </div>
                        <!-- Header Action End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

    </div>
    <!-- Header Mobile End -->


    <!-- off Canvas Start -->
    <div class="off-canvas-box">
        <div class="canvas-action">
            <a class="action" href="#"><i class="icon-sliders"></i> Compare <span class="action-num">(0)</span></a>
            <a class="action" href="#"><i class="icon-heart"></i> Wishlist <span class="action-num">(0)</span></a>
        </div>
        <div class="canvas-close-bar">
            <span>Menu</span>
            <a class="menu-close" href="#"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="canvas-menu">
            <nav>
                <ul>
                    <li class="active">
                        <a href="{% url 'index' %}">Головна</a>
                    </li>
                    <li>
                        <a href="{% url 'cart_view' %}">Каталог</a>
                    </li>
                    <li>
                        <a href="{% url 'contact_view' %}">Контакти</a>
                    </li>
                    <li>
                        <a href="{% url 'shopwindow' %}">Вітрини</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- off Canvas End -->

    <div class="menu-overlay"></div>

{% block content %}

    {% endblock %}
    <!-- footer Start -->
    <div class="section footer-bg">

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section section-padding">
            <div class="container">
                <!-- footer Widget Wrapper -->
                <div class="footer-widget-wrapper mt-n6">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                                <a href="#"><img src="{% static 'assets/images/logo-white.png' %}" alt=""></a>
                                <div class="footer-widget-text">
                                    {% if contact %}
                                    <p><strong>Адреса :</strong> {{ contact.adress }}</p>
                                    <p><strong>Телефон :</strong> {{ contact.phone }}</p>
                                    <p><strong>Email :</strong> {{ cotact.email }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                        <div class="col-lg-2 col-sm-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Інформація</h3>

                                <ul class="widget-link">
                                    <li><a href="{% url 'index' %}">Головна</a></li>
                                    <li><a href="{% url 'cart_view' %}">Каталог</a></li>
                                    <li><a href="{% url 'contact_view' %}">Контакти</a></li>
                                    <li><a href="{% url 'shopwindow' %}">Вітрини</a></li>
                                </ul>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                                <div class="widget-social">
                                    <ul>
                                        <li><a class="facebook" href="#"><i class="icon-facebook2"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="icon-twitter2"></i></a></li>
                                        <li><a class="youtube" href="#"><i class="icon-youtube2"></i></a></li>
                                        <li><a class="instagram" href="#"><i class="icon-instagram2"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="icon-linkedin2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                    </div>
                </div>
                <!-- footer Widget Wrapper -->
            </div>
        </div>
        <!-- Footer Widget Section End -->


    </div>
    <!-- footer End -->


    <!--Back To Start-->
    <a href="#" class="back-to-top">
        <i class="icon-chevron-up"></i>
    </a>
    <!--Back To End-->

    <!-- Quick View Start -->
    <div class="modal fade" id="quickView">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Shop Gallery image Start -->
                            <div class="quick-view-image vertical-slider-wrap">
                                <div class="swiper-container quick-view-slider">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="{% static 'assets/images/shop-single/shop-single-01.jpg' %}" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="{% static 'assets/images/shop-single/shop-single-02.jpg' %}" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="{% static 'assets/images/shop-single/shop-single-03.jpg' %}" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="{% static 'assets/images/shop-single/shop-single-04.jpg' %}" alt="Product Image">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="single-img">
                                                <img src="{% static 'assets/images/shop-single/shop-single-05.jpg' %}" alt="Product Image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-label">
                                        <span class="new">New</span>
                                    </div>
                                </div>
                                <div class="quick-view-slider-nav swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/shop-single/shop-single-01.jpg' %}" alt="Product Thumnail">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/shop-single/shop-single-02.jpg' %}" alt="Product Thumnail">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/shop-single/shop-single-03.jpg' %}" alt="Product Thumnail">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/shop-single/shop-single-04.jpg' %}" alt="Product Thumnail">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="{% static 'assets/images/shop-single/shop-single-05.jpg' %}" alt="Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Shop Gallery image End -->
                        </div>
                        <div class="col-md-6">
                            <!-- Shop Single Start -->
                            <div class="shop-single-content quick-view-content">
                                <h3 class="product-name">Juicy Couture Juicy Quilted Terry Track Jacket</h3>
                                <p class="reference">Reference: Demo</p>
                                <ul class="shop-rating-content">
                                    <li>
                                        <div class="review-star">
                                            <div class="star" style="width: 80%;"></div>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class="fal fa-comment-dots"></i> Read reviews <span>(3)</span></a></li>
                                    <li><a href="#"><i class="fal fa-edit"></i> Write a review</a></li>
                                </ul>
                                <div class="product-prices">
                                    <span class="old-price">$35.90</span>
                                    <span class="sale-price">$28.72</span>
                                    <span class="discount-percentage">Save 20%</span>
                                </div>
                                <div class="product-description">
                                    <ul>
                                        <li>Score extra points when it comes to your sporty look with the Juicy Couture™ Juicy Quilted Terry Track Jacket.</li>
                                        <li>Soft terry construction in a quilted design.</li>
                                        <li>Front zipper closure.</li>
                                        <li>61% cotton, 39% polyester;</li>
                                        <li>Lining: 58% cotton, 42% polyester.</li>
                                    </ul>
                                </div>
                                <div class="product-size">
                                    <span class="label">Size</span>
                                    <div class="size-select">
                                        <select>
                                            <option value="0">S</option>
                                            <option value="0">M</option>
                                            <option value="0">L</option>
                                            <option value="0">XL</option>
                                        </select>
                                        <i class="icon-chevron-down"></i>
                                    </div>
                                </div>
                                <div class="product-quantity-cart">
                                    <span class="label">Quantity</span>
                                    <div class="product-quantity-cart-wrapper d-flex">
                                        <div class="product-quantity d-inline-flex">
                                            <button type="button" class="sub"><i class="icon-chevron-down"></i></button>
                                            <input type="text" value="1" />
                                            <button type="button" class="add"><i class="icon-chevron-up"></i></button>
                                        </div>
                                        <div class="product-cart">
                                            <button class="btn btn-dark btn-hover-primary">+ Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-additional-info">
                                    <ul class="social-sharing">
                                        <li><a class="facebook" href="#"><i class="fab fa-facebook-square"></i> Share</a></li>
                                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i> Tweet</a></li>
                                        <li><a class="google" href="#"><i class="fab fa-google-plus-g"></i> Google+</a></li>
                                        <li><a class="pinterest" href="#"><i class="fab fa-pinterest-square"></i> Pinterest</a></li>
                                    </ul>
                                    <p class="panel-product-actions"><a href="#" class="action-btn wishlist"><i class="icon-heart"></i> Add to wishlist </a></p>
                                    <p class="panel-product-actions"><button class="action-btn wishlist"><i class="icon-sliders"></i> Add to compare</button></p>
                                </div>
                            </div>
                            <!-- Shop Single End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick View End -->



    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>