{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    {% endblock %}
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
{% if logo %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ logo.img.url }}">
{% endif %}


    <!-- CSS
    ============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/plazaicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.min.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/select2.min.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->


</head>

<body>


    <!-- Header Start -->
    <div class="header-section section d-none d-lg-block">

        <!-- Header top Start -->
        <div class="header-top bg-white header-sticky p-0">
            <div class="container-fluid custom-container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-2">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            {% if  logo %}
                            <a href="{% url 'index' %}"><img src="{{ logo.img.url }}" alt=""></a>
                            {% else %}
                            <h1><a href="{% url 'index' %}"><font color="black">Grace-Furniture</font></a></h1>
                            {% endif %}
                        </div>
                        <!-- Header Logo End -->

                    </div>

                    <div class="col-lg-7 col-xl-6">

                        <!-- Primary Menu Start -->
                        <div class="primary-menu position-static border-0">
                            <nav>
                                <ul>
                                    <li>
                                        <a href={% url 'index' %}>Головна</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart_view' %}">Каталог</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'contact_view' %}">Контакти</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'shopwindow' %}">Вітрини</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Primary Menu End -->

                    </div>

                    <div class="col-lg-3 col-xl-4">

                        <!-- Header Action Start -->
                        <div class="header-actions">
                            <div class="dropdown">
                                <a href="{% url 'cart_view' %}" class="header-action-btn" role="button">
                                    <i class="icon-shopping-bag2"></i>
                                </a>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="header-action-btn" role="button" data-bs-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Dropdown Language End -->
                                    <div class="dropdown-language">
                                        <span class="selected"><img src="{% static 'assets/images/flag/ukr.png' %}" alt="">Українська</span>
                                        <ul class="language-list">
                                            <li><a href="{% url 'index_english' %}"><img src="{% static 'assets/images/flag/01.jpg' %}" alt="">English</a></li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown Language End -->
                                </div>
                            </div>
                        </div>
                        <!-- Header Action End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header top End -->
    </div>
    <!-- Header End -->


    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">

        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">

                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->

                    </div>
                    <div class="col">

                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                           {% if  logo %}
                            <a href="{% url 'index' %}"><img src="{{ logo.img.url }}" alt=""></a>
                            {% else %}
                            <h1><a href="{% url 'index' %}"><font color="black">Grace-Furniture</font></a></h1>
                            {% endif %}
                        </div>
                        <!-- Header Logo End -->

                    </div>
                    <div class="col">

                        <!-- Header Action Start -->
                        <div class="header-actions">
                            <a href="{% url 'cart_view' %}" class="header-action-btn">
                                <i class="icon-shopping-bag2"></i>
                            </a>
                            <div class="dropdown">
                                <a href="#" class="header-action-btn" role="button" data-bs-toggle="dropdown">
                                    <i class="icon-settings"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- Dropdown Language End -->
                                    <div class="dropdown-language">
                                        <span class="selected"><img src="{% static 'assets/images/flag/ukr.png' %}" alt="">Українська</span>
                                        <ul class="language-list">
                                            <li><a href="{% url 'index_english' %}"><img src="{% static 'assets/images/flag/ukr.png' %}" alt="">English</a></li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown Language End -->

                                </div>
                            </div>
                        </div>
                        <!-- Header Action End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

    </div>
    <!-- Header Mobile End -->


    <!-- off Canvas Start -->
    <div class="off-canvas-box">
        <div class="canvas-close-bar">
            <span>Меню</span>
            <a class="menu-close" href="#"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="canvas-menu">
            <nav>
                <ul>
                    <li class="active">
                        <a href="{% url 'index' %}">Головна</a>
                    </li>
                    <li>
                        <a href="{% url 'cart_view' %}">Каталог</a>
                    </li>
                    <li>
                        <a href="{% url 'contact_view' %}">Контакти</a>
                    </li>
                    <li>
                        <a href="{% url 'shopwindow' %}">Вітрини</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- off Canvas End -->

    <div class="menu-overlay"></div>

{% block content %}

    {% endblock %}
    <!-- footer Start -->
    <div class="section footer-bg">

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section section-padding">
            <div class="container">
                <!-- footer Widget Wrapper -->
                <div class="footer-widget-wrapper mt-n6">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                               {% if  logo %}
                                <a href="{% url 'index' %}"><img src="{{ logo.img.url }}" alt=""></a>
                                {% else %}
                                <h1><a href="{% url 'index' %}"><font color="white">Grace-Furniture</font></a></h1>
                                {% endif %}
                                <div class="footer-widget-text">
                                    {% if contact %}
                                    <p><strong>Адреса :</strong> {{ contact.address|linebreaks }}</p>
                                    <p><strong>Телефон :</strong> {{ contact.phone|linebreaks }}</p>
                                    <p><strong>Email :</strong> {{ contact.email|linebreaks }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                        <div class="col-lg-2 col-sm-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Інформація</h3>

                                <ul class="widget-link">
                                    <li><a href="{% url 'index' %}">Головна</a></li>
                                    <li><a href="{% url 'cart_view' %}">Каталог</a></li>
                                    <li><a href="{% url 'contact_view' %}">Контакти</a></li>
                                    <li><a href="{% url 'shopwindow' %}">Вітрини</a></li>
                                </ul>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <!-- footer Widget Start -->
                            <div class="footer-widget">
                                <div class="widget-social">
                                    <ul>
                                        {% if network %}
                                        <li><a class="facebook" href="{{ network.facebook }}"><i class="icon-facebook2"></i></a></li>
                                        <li><a class="telegram" href="{{ network.telegram }}"><i class="icon-paper-plane"></i></a></li>
                                        <li><a class="instagram" href="{{ network.instagram }}"><i class="icon-instagram2"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <!-- footer Widget End -->

                        </div>
                    </div>
                </div>
                <!-- footer Widget Wrapper -->
            </div>
        </div>
        <!-- Footer Widget Section End -->


    </div>
    <!-- footer End -->


    <!--Back To Start-->
    <a href="#" class="back-to-top">
        <i class="icon-chevron-up"></i>
    </a>
    <!--Back To End-->



    <!-- JS
    ============================================ -->

    <!-- Modernizer & jQuery JS -->
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>

    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-contact.js' %}"></script>

    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="assets/js/plugins.min.js"></script> -->


    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>